{% extends 'base.html' %}
{% load static %}


{% block title %}
    发布作业
{% endblock %}

{% block CSS %}
    <style>
        .layui-layedit {
            margin: 1%;
        }
    </style>
{% endblock %}

{% block body %}
    <body>
    {#    标题#}
    <div class="layui-row">
        <div class="layui-col-md6" style="padding: 2%">
            <div class="layui-form-item" style="margin-top: 1%">
                <label class="layui-form-label"><b>标题</b></label>
                <div class="layui-input-block">
                    <input type="text" name="title" autocomplete="off" placeholder="请输入标题" class="layui-input"
                           style="width: 85%">
                </div>
            </div>
            {#    编辑器#}
            <textarea id="demo" style="display: none;" placeholder="编写你想发布的任务吧"></textarea>
        </div>
        {#    上传附件#}
        <div class="layui-col-md6" style="padding: 2%;margin-top: 4%">
            <div class="layui-upload">
                <div class="layui-upload-list">
                    <table class="layui-table">
                        <thead>
                        <tr>
                            <th>文件名</th>
                            <th>大小</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="demoList"></tbody>
                    </table>
                </div>
                <button type="button" class="layui-btn layui-btn-radius layui-btn-primary" id="testList">
                    选择附件
                </button>
                <button type="button" class="layui-btn layui-btn-radius layui-btn-primary" id="testListAction"
                        style="display: none">
                    开始上传
                </button>
            </div>
        </div>
    </div>
    {#    发布作业按钮#}
    <div style="text-align: center;">
        <button id="put_job" class="layui-btn layui-btn-lg layui-btn-radius layui-btn-normal">
            发布作业
        </button>
    </div>
    </body>
{% endblock %}


{% block JS %}
    <script>
        layui.use('layedit', function () {
            let layedit = layui.layedit;

            let url = '/PublishJob/';
            //建立编辑器
            layer.load(1);
            let index = layedit.build('demo', {height: 400});
            $('i[layedit-event="image"]').remove();

            $('#put_job').click(function () {
                let title = $('input[name="title"]').val();
                let text = layedit.getContent(index);
                if (title === '') {
                    layer.msg('请输入任务标题', function () {
                        $('input[name="title"]').focus()
                    });
                    return false
                }
                $.ajax({
                    url: url, type: 'post', data: {title: title, text: text}, success: function (result) {
                        if (result.code === 0){
                            $('#testListAction').click()
                        }
                    }
                });

            });
            layer.closeAll('loading');
        });

        // 上传文件
        layui.use('upload', function () {
            let upload = layui.upload;
            //多文件列表示例
            let demoListView = $('#demoList')
                , uploadListIns = upload.render({
                elem: '#testList'
                , url: '/PublishJob/' //改成您自己的上传接口
                , accept: 'file'
                , multiple: true
                , auto: false
                , bindAction: '#testListAction'
                , choose: function (obj) {
                    let files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
                    //读取本地文件
                    obj.preview(function (index, file, result) {
                        let tr = $(['<tr id="upload-' + index + '">'
                            , '<td>' + file.name + '</td>'
                            , '<td>' + (file.size / 1024).toFixed(1) + 'kb</td>'
                            , '<td>等待上传</td>'
                            , '<td>'
                            , '<button class="layui-btn layui-btn-xs demo-reload layui-hide">重传</button>'
                            , '<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>'
                            , '</td>'
                            , '</tr>'].join(''));

                        //单个重传
                        tr.find('.demo-reload').on('click', function () {
                            obj.upload(index, file);
                        });

                        //删除
                        tr.find('.demo-delete').on('click', function () {
                            delete files[index]; //删除对应的文件
                            tr.remove();
                            uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                        });
                        demoListView.append(tr);
                    });
                }
                , done: function (res, index, upload) {
                    if (res.code === 0) { //上传成功
                        let tr = demoListView.find('tr#upload-' + index)
                            , tds = tr.children();
                        tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>');
                        tds.eq(3).html(''); //清空操作
                        // 上传成功刷新页面
                        window.location.reload();
                        parent.layer.msg('发布成功！');
                        return delete this.files[index]; //删除文件队列已经上传成功的文件
                    }
                    this.error(index, upload);
                }
                , error: function (index, upload) {
                    let tr = demoListView.find('tr#upload-' + index)
                        , tds = tr.children();
                    tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
                    tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
                }
            });
        })
    </script>
{% endblock %}
